.app__navbar {
    width: 100%;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 150px;
}

.app__navbr-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbr-links li {
    cursor: pointer;
    margin: 0 1rem;
}

.app__navbr-links li:hover {
    color: var(--color-grey);
}

.app__login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.app__login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.app__login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.bars {
    cursor: pointer;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbr-links {
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar {
        padding: 1rem;
    }
    .app__login {
        display: none;
    }
    .app__navbar-logo img {
        width: 110px;
    }
}